body{
    background-color: gray;
    padding: 2vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.navbar{
    height: 10vh;
    width: 80vw;
    background-color: royalblue;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.tabs{
    height: 80%;
    width: 30%;
    background-color: blue;
    text-align: center;
    align-content: center;
}

.active{
    height: 85%;
    width: 35%;
    background-color: rgb(36, 36, 249);
    text-align: center;
    align-content: center;
}